section{
	padding-top:0px !important;
	padding-bottom:0px !important;
}
.section-bg{
	background-color: #f8faf5;
    float: left;
    width: 100%;
}
.general-row .wpb_column.col-md-12,.general-row .wpb_column .both > .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}
.col-md-6.col-sm-12.wow.bounceIn.about-img.animated {
    padding-left: 15px;
}
article{
	padding: 65px 0 0;
    text-align: center;
}
.padding-top{
	padding-top:65px !important;
}
.padding-bottom{
	padding-bottom:65px !important; 
}
.plans{
	background-image: url("../images/pricing-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
}
.plans .container{
	padding-left:0px !important;
	padding-right:0px !important;
}
.over .post{
	background: none repeat scroll 0 0 #f8faf5;
    overflow: hidden;
}
.over.post-item .post h2 {
    margin-bottom: 25px;
    text-align: center;
}
.contact{
	background-image: url("../images/contact-bg.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding-bottom: 0;
    width: 100%;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li > span.current{
	background: none repeat scroll 0 0 #89c436;
    border: medium none;
    color: #ffffff;
}
.post .post img,.social li a img{
	position:relative;
}
.home.blog section{
	padding-top:0px; 
}
.psocial {
    margin-top: 20px;
}
.psocial li:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 10px;
}
.psocial li {
    float: left;
	list-style-type:none;
}
.author{
	min-height:260px;
}
.comment-area input[type="text"], .comment-area input[type="phone"], .comment-area textarea, .comment-area input[type="email"] {
    margin-bottom: 0;
    margin-top: 0;
}
.center.clean-left {
    margin-left: -15px;
}
.comment-list li{
	list-style-type:none;
}
.comment-reply-link{
	background: none repeat scroll 0 0 #75b6ce;
    border-radius: 0;
    color: #fff;
    float: right;
    font-weight: 700;
    height: 30px;
    margin: 0 40px;
    padding: 4px 30px;
    text-transform: uppercase;
}
.comment-reply-link:hover{
	background: none repeat scroll 0 0 #89c436;
    color: #fff;
	text-decoration:none;
}
.widget_search {
    padding: 0;
}
.popular-list li a img{
	left:0;
	position:absolute;
}
.widget ul{
	list-style: outside none none;
    padding-left: 0;
}
.widget ul li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    padding: 16px 0;
}
.widget ul li a{
	display:block;
    font-size: 18px;
    margin: 0;
	color: #75b6ce;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.widget ul li a:hover{
	color: #89c436;
}
.popular-list li{
	padding-top:0px !important;
	border-bottom:none !important;
}
.popular-list li a{
	font-size:18px !important;
}
.widget .content .posted-date{
	text-align:left;
}
.col-md-6 .post-item .post {
    background-color: #ffffff;
    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.blog_post_area aside{
	top:12px;
	position:relative;
}
.dropdown-menu li a{
	background-color:#fff !important;
	color:#54899c !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #f5f5f5 !important;
    color: #262626;
    text-decoration: none;
}
.rev_slider_wrapper {
    float: left;
    padding: 120px 0 0 !important;
    width: 100%;
	margin-bottom:55px !important;
}
.admin-bar .rev_slider_wrapper {
	padding-top:88px !important;
	margin-bottom:32px !important;
}
.rev_slider_wrapper .tp-bullets{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    bottom: 0px !important;
    height: 50px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 160px;
	padding:14px;
}
.rev_slider_wrapper .tp-bullets .bullet{
	display: inline-block !important;
	cursor: pointer !important;
	height: 20px !important;
    margin: 0 6px !important;
    width: 20px !important;
	border:none !important;
	border-radius:50px;
	background-image:none!important;
	background-color:#d6d6d6 !important;

}
.rev_slider_wrapper .tp-bullets .bullet:hover{
	background: none repeat scroll 0 0 #89c436 !important;
}
.rev_slider_wrapper .hvr-sweep-to-right{
	color:#ffffff !important;
}
.slider-grid .item .text h2{
	margin-bottom:20px !important;
	line-height:80px !important;
}
/*--------------------------theme check----------------------------------*/

	#wp-calendar {

		width: 100%;

	}

	#wp-calendar caption {

		text-align: right; 

		color: #333; 

		font-size: 12px; 

		margin-top: 10px;

		margin-bottom: 15px;

	}

	#wp-calendar thead { 

		font-size: 10px;

	}

	#wp-calendar thead th { 

		padding-bottom: 10px;

	}

	#wp-calendar tbody { 

		color: #aaa; 

	}

	#wp-calendar tbody td { 

		background: #f5f5f5; 

		border: 1px solid #fff; 

		text-align: center; 

		padding:8px;

	}

	#wp-calendar tbody td:hover { 

		background: #fff; 

	}

	#wp-calendar tbody .pad { 

		background: none; 

	}

	#wp-calendar tfoot #next { 

		font-size: 10px; 

		text-transform: uppercase; 

		text-align: right;

	}

	#wp-calendar tfoot #prev { 

		font-size: 10px; 

		text-transform: uppercase; 

		padding-top: 10px; 

	}

	

	.sticky .post {background: #efefef; border: 3px solid #fff; }
	.sticky .post .post-content{ background-color:transparent; }
	.wp-caption {

	border: 1px solid #ddd;

	text-align: center;

	background-color: #f3f3f3;

	padding-top: 4px;

	margin: 10px;

	-moz-border-radius: 3px;

	-khtml-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

	}
	.wp-caption p.wp-caption-text {

	font-size: 11px;

	line-height: 17px;

	padding: 0 4px 5px;

	margin: 0;

	}
	.gallery-caption {}
	.bypostauthor{}
	.alignright{ 
		text-align:right;
	}
	.alignleft{ 
		text-align:left;
	}
	.aligncenter{ 
		text-align:center;
	}	
/*----------------------Default widget styling--------------------------*/
.widget select {
    max-width: 100%;
    width: 100%;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget.widget_search{
	background:none !important;
}
/*------------------------------theme unit test------------------------------------*/
.post h1,.comments h1,.blog_post_area h1{
	color: #75b6ce;
    font-family: "Satisfy",sans-serif;
    font-weight: 400;
	margin-bottom:40px;
}
.post h1:hover,.comments h1:hover,.blog_post_area h1:hover{
	color:#89c436;
}
.post h2,.comments h2,.blog_post_area h2{
	color: #75b6ce;
    font-family: "Satisfy",sans-serif;
    font-weight: 400;
	margin-bottom:40px;
}
.post h2:hover,.comments h2:hover,.blog_post_area h2:hover{
	color:#89c436;
}
.post h3,.comments h3,.blog_post_area h3{
	color: #75b6ce;
    font-family: "Satisfy",sans-serif;
    font-weight: 400;
	margin-bottom:40px;
	font-size:26px;
}
.post h3:hover,.comments h3:hover,.blog_post_area h3:hover{
	color:#89c436;
}
.post h4,.comments h4,.blog_post_area h4{
	color: #75b6ce;
    font-family: "Satisfy",sans-serif;
    font-weight: 400;
	margin-bottom:40px;
}
.post h4:hover,.comments h4:hover,.blog_post_area h4:hover{
	color:#89c436;
}
.post h5,.comments h5,.blog_post_area h5{
	color: #75b6ce;
    font-family: "Satisfy",sans-serif;
    font-weight: 400;
	margin-bottom:40px;
}
.post h5:hover,.comments h5:hover,.blog_post_area h5:hover{
	color:#89c436;
}
.post h6,.comments h6,.blog_post_area h6{
	color: #75b6ce;
    font-family: "Satisfy",sans-serif;
    font-weight: 400;
	margin-bottom:40px;
}
.post h6:hover,.comments h6:hover,.blog_post_area h6:hover{
	color:#89c436;
}
.post table thead tr th,.comments table thead tr th,.blog_post_area table thead tr th{
	border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}
.post table tbody tr th,.comments table tbody tr th,.blog_post_area table tbody tr th{
	border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.post table tbody tr td,.comments table tbody tr td,.blog_post_area table tbody tr td{
	border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.paginate-links{
	margin-bottom:30px;
}
.paginate-links > span{
 	background-color: #75b6ce;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin: 0 4px;
	padding: 6px 12px;
    position: relative;
    text-decoration: none;
    line-height: 1.42857;
}
.paginate-links a{
 	background-color: #75b6ce;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin: 0 4px;
	padding: 6px 12px;
    position: relative;
    text-decoration: none;
    line-height: 1.42857;
}
.paginate-links > span:hover,.paginate-links a:hover,.paginate-links > span{
	background: none repeat scroll 0 0 #89c436;
    border: medium none;
    color: #ffffff;
}
.comments ul li{ list-style-type:disc !important;} 
.comments ol li{ list-style:decimal !important;}
.comments li{
	margin-bottom:0px !important;
}
.comment-list .children{
	padding-left:40px;
}
.blog img.alignleft{ 
	margin-right:10px;
}
.blog figure.wp-caption.aligncenter{
	margin:0px;
}
.blog p img.alignnone,.blog figure img.alignnone{
	max-width:100%;
	height:auto;
}
.post figure img,.page figure img{
	max-width:100%;
	display:block;
	height:auto;
}
figure{
	max-width:96%;
	display:block;
}
.blog p{
	word-wrap:break-word !important;
}
.page .sidebar,.home.blog .sidebar{
	margin-top:0px !important;
}
.post p img,.page p img {
    max-width: 100%;
	height:auto;
	display:block;
}
.boxed {
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 1230px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
}
.boxed .navbar {
  width: 100% !important;
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 1230px;
}
.boxed .bx-wrapper .owl-next {right: -30px !important}
.boxed .bx-wrapper .owl-prev {left: -30px !important}
