/*-------------------------------------------------------------
		Preset COlor: @sh_color & rgba(53, 152, 220, 0.8) ;
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.1 Theme Element
--------------------------------------------------------------*/
/*-- Header --*/
.navbar-default .navbar-nav > li > a,
.dropdown-menu li a,
.slider-grid .item .text h2,
.slider-grid .item .text h2 span,
section h2.heading,
#numbers li span,
.members-grid .caption h3,
.members-grid .social li a,
.portfolio-item .overlay .preview,
.post-item h2, .post-item h2 a,
.posted-date,
.posted-date a,
.widget ul li a,
.post h3, .comments h3, .blog_post_area h3,
.post h5, .comments h5, .blog_post_area h5
{
	color:@sh_color !important;
}
.navbar-default .navbar-nav .hvr-underline-from-left::before,
.slider-grid .hvr-sweep-to-right::before,
.flat .plan:hover .plan-name,
.flat .plan .price-btn:hover, .flat .plan .price-btn:focus, .flat .plan .price-btn.focus,
.portfolio-filter > li > a.btn,
.back-to-top,
.comment-reply-link
{
	background-color:@sh_color !important;
}
.separator_wrapper::after, .separator_wrapper::before,
.circle-img.blue img,
.clients-grid .media .media-label
{
	 border-color:@sh_color !important;
}