.boxed {
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 1230px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 10px;
}
.boxed .navbar {
  width: 100% !important;
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 1230px;
}
.boxed .bx-wrapper .owl-next {right: -30px !important}
.boxed .bx-wrapper .owl-prev {left: -30px !important}
.switcher {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: fixed;
  bottom: 50%;
  padding: 5px;
  left: -127px;
  z-index: 999999999999999999999999999999999;
  width: 127px;
  height: auto;
  background: #f7f7f7;
  padding-top: 10px;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  border: solid 1px #ddd;
}
.switcher .fa-cog {
  background: #f7f7f7;
  border: solid 1px #ddd;
  color: #707070;
  width: 50px;
  height: 50px;
  font-size: 36px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  right: -50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top: 0;
}
.switcher .fa-cog:hover {
  -webkit-animation: spin 2s linear;
  -moz-animation: spin 2s linear;
  -o-animation: spin 2s linear;
  animation: spin 2s linear;
}
.switcher.active {
  left: 0;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.switcher .box {
  width: 30px;
  min-height: 30px;
  max-height: 30px;
  text-indent: -9999px;
  cursor: pointer;
  border: none !important;
  color: #fff;
  float: left;
  margin: 4px;
  text-align: left;
  padding: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: 700;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  font-size: 11px;
}
#default {background: #45a1d0;}
#blue {background: #6699FF}
#asparagus {background: #7BA05B}
#green {background: #76c381;}
#orange {background: #d37b46;}
#purple {background: #e281ef}
#yellow {background: #f8ca00}
#tomato {background: #FF6347}
#teal {background: #008080}
#pink {background: #FF69B1}
#lima {background: #73B819}
#java {background: #19B8AF}
#turquoise {background: #40E8D9}
#boxed,
#full {
  background: #f8f8f8;
  color: #707070;
  padding: 5px;
  padding-left: 4px;
  padding-right:8px;
  width: 42px;
  margin-left: 2px;
  margin-right: 8px;
  margin-top: 4px;
  float: left;
  margin-bottom: 8px;
  display: block;
  border-radius: 4px;
  -moz-box-shadow: 0 0 3px #888;
  -webkit-box-shadow: 0 0 3px #888;
  box-shadow: 0 0 3px #888;
}